body {
    font-family: 'ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.header .headermenu {
    background: #022B44;
    color: #fff;
    display: flex;
    padding: 20px;
}

/* .header .headerinfo .email { */
    /* width: 50%;
    text-align: left;
} */

/* .header .headerinfo .phone {
    width: 50%;
    text-align: right;}   */

.header .headermenu {
    display: flex;
    padding: 20px 30px;
    text-align: right;
}

.header .headermenu .logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    width: 30%;
    text-align: left;
    

}

.header .headermenu a {
    text-decoration: none;
}

.header .headermenu .navbarlist {
    width: 100%;
    
}

.header .headermenu .navbarlist li {
    display: inline-block;
    margin: 0 10px;
}

.header .headermenu .navbarlist li a {
    color: #fff;
    font-size: 15px;
    
    
}

.header .headermenu .wrtgbtn {
    width: 25%;
    text-align: right;
}

.header .headermenu .wrtgbtn button {
      background: #ffe600;
      padding: 10px 20px;
      color: #0b030c;
      border: none;
      font-size: 17px;
      text-transform: capitalize;
}

.header .headermenu .signbtn {
    width: 30%;
    text-align: right;
}

.header .headermenu .signbtn {
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 17px;
    text-transform: capitalize
}


.slide .slideinfo {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.slide {
    background-color:antiquewhite; 
    padding: 10px 20px;
    background-size: cover;

}

.slide .apptbtn {
    width: 100%;
    text-align: center;
}

.slide .apptbtn button {
    background: #0000ff;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 25px;
    text-transform: uppercase;   
}

.produceinfo {
    padding: 20px 20px;
    color: #022B44;
    border: none;
    font-family: Open Sans Bold; 
    text-transform: capitalize;
    margin-bottom: 16px;
    font-size: 25px;
    text-align: center;
}

.d-flex {
    display: flex;
}

.productfeatures .featurebox{
    background: #fff;
    width: 45%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
}

.productfeatures .featurebox .featurelist ul li{
    list-style: none;
    margin: 8px;
}
.productfeatures .featurebox .featurelist ul li i{
    color: #ffb300;
    margin-right: 5px;
}

.productfeatures .featurebox h1{
    text-align: center;
}
.productfeatures .featurebox .featurebtn{
    text-align: center;
}

.productfeatures .featurebox .featurebtn button{
    background: #f2f2f2;
    border: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
} 

.featureinfo .boxinfo {
    background: #fff;
    width: 45%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
}

.featureinfo .boxinfo .boxlist ul li {
    list-style: none;
    margin: 8px;
}

.featureinfo .boxinfo .boxlist ul li i{
    color: #ffb300;
    margin-right: 5px;
}

.featureinfo .boxinfo h1{
   text-align: center;
}


.featureinfo .boxinfo .boxbutton {
   text-align: center;
}

.featureinfo .boxinfo .boxbutton button{
   background: #f2f2f2;
   border:none;
   font-size:20px;
   text-transform:capitalize;
   font-weight:700;
   padding: 20px;
   border-radius:10px;
}




