body {
    font-family: 'ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.header .headermenu {
    background: #022B44;
    color: #fff;
    display: flex;
    padding: 20px;
}

/* .header .headerinfo .email { */
    /* width: 50%;
    text-align: left;
} */

/* .header .headerinfo .phone {
    width: 50%;
    text-align: right;}   */

.header .headermenu {
    display: flex;
    padding: 20px 30px;
    text-align: right;
}

.header .headermenu .logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    width: 30%;
    text-align: left;
    

}

.header .headermenu a {
    text-decoration: none;
}

.header .headermenu .navbarlist {
    width: 100%;
    
}

.header .headermenu .navbarlist li {
    display: inline-block;
    margin: 0 10px;
}

.header .headermenu .navbarlist li a {
    color: #fff;
    font-size: 15px;
    
    
}

.header .headermenu .wrtgbtn {
    width: 25%;
    text-align: right;
}

.header .headermenu .wrtgbtn button {
      background: #ffe600;
      padding: 10px 20px;
      color: #0b030c;
      border: none;
      font-size: 17px;
      text-transform: capitalize;
}

.header .headermenu .signbtn {
    width: 30%;
    text-align: right;
}

.header .headermenu .signbtn {
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 17px;
    text-transform: capitalize
}


.slide .slideinfo {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.slide {
    background-color:antiquewhite; 
    height: 800px;
    padding: 10px 20px;
    background-size: cover;

}

.slide .apptbtn {
    width: 100%;
    text-align: center;
}

.slide .apptbtn button {
    background: #0000ff;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 25px;
    text-transform: uppercase;   
}

.produceinfo {
    padding: 20px 20px;
    color: #022B44;
    border: none;
    font-family: Open Sans Bold; 
    text-transform: capitalize;
    margin-bottom: 16px;
    font-size: 25px;
    text-align: center;
}

.candp{
    border: #fff;
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    display: block;
}


