body {
    font-family: 'ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}

.header .headerinfo {
    background: #0000ff;
    color: #fff;
    display: flex;
    padding: 20px;
}

.header .headerinfo .email {
    width: 50%;
    text-align: left;
}

.header .headerinfo .phone {
    width: 50%;
    text-align: right;
}

.header .headermenu {
    display: flex;
    padding: 20px 50px;
    text-align: right;
}

.header .headermenu .logo {
    color: #0000ff;
    text-transform: uppercase;
    font-size: 20px;
    width: 30%;
    text-align: left;
    

}

.header .headermenu a {
    text-decoration: none;
}

.header .headermenu .navbarlist {
    width:200%;
    
}

.header .headermenu .navbarlist li {
    display: inline-block;
    margin: 0 50px;
}

.header .headermenu .navbarlist li a {
    color: #000;
    font-size: 20px;
    
    
}

.header .headermenu .apptbtn {
    width: 50%;
    text-align: right;
}

.header .headermenu .apptbtn button {
      background: #0000ff;
      padding: 10px 20px;
      color: #fff;
      border: none;
      font-size: 17px;
      text-transform: uppercase;
}

.slide .slideinfo {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.slide {
    background-image: url(../images/slidebg.jpg);
    height: 400px;
    padding: 10px 20px;
    background-size: cover;

}

.slide .apptbtn {
    width: 100%;
    text-align: center;
}

.slide .apptbtn button {
    background: #0000ff;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 25px;
    text-transform: uppercase;   
}